name: Check DVC GitHub Action
on: [push]
jobs:
  check:
    strategy:
      matrix:
        system:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        include:
          - system: ubuntu-18.04
            container: ubuntu:18.04    
    runs-on: ${{ matrix.system }}
    container: ${{ matrix.container }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        if: matrix.container == 'ubuntu:18.04'
        with:
          node-version: '12'
      - uses: actions/setup-python@v2
        if: matrix.system == 'windows'
        with:
          python-version: '3.x'
      - run: npm ci
      - run: npm run lint
      - run: npm run test
      - name: local action with '1.0.1'
        uses: ./
        with:
          version: '1.0.1'
      - name: test DVC specific version
        if: matrix.system != 'windows'
        run: |
          DVC_VER=$(dvc --version)
          if [ $DVC_VER != '1.0.1' ]; then
            exit 1
          fi
      - name: local action with defaults
        uses: ./
      - name: test DVC latest version
        if: matrix.system != 'windows'
        run: |
          DVC_VER=$(dvc --version)
          if [ $DVC_VER == '1.0.1' ]; then
            exit 1
          fi
